<section class="trust-strip" aria-label="Vertrauenssignale">
  <div class="container mx-auto px-4 md:px-6">
    <ul class="trust-strip__row list-none m-0 p-0">
      <li class="trust-strip__item">
        {% include svg/home.svg class="w-5 h-5 shrink-0 fill-current text-[#0b1f3a]" %}
        <span>Kostenlose Besichtigung</span>
      </li>
      <li class="trust-strip__item">
        {% include svg/description.svg class="w-5 h-5 shrink-0 fill-current text-[#0b1f3a]" %}
        <span>Schriftliches Angebot</span>
      </li>
      <li class="trust-strip__item">
        {% include svg/diversity_3.svg class="w-5 h-5 shrink-0 fill-current text-[#0b1f3a]" %}
        <span>Persönliche Abstimmung</span>
      </li>
    </ul>
  </div>
</section>
